body {
	padding-top: 50px;
}

span.tb-unit {
	margin-left: -25px;
}

label.right-aligned {
	float: right;
}

div.tb-help-bubble {
	clear: both;
	margin-left: -25px;
}

div.forgotten-password-link {
	margin-top: 12px;
}

div.footer {
	margin-top: 18px;
}

.time-picker-select {
	width: 30%;
	float: left;
}

.time-picker-spacer {
	float: left;
	padding: 4px;
}

.deco-stop-text {
	width: 30%;
	float: left;
}

.deco-stop-spacer {
	float: left;
	padding: 4px;
}