doctype html
html
	head
		title Dive Log
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")
		link(rel="stylesheet", href=styleLocation)
		link(rel="shortcut icon",href="/public/img/favicon.ico")
	body
		div#app

	script(type="text/javascript").
		window.baseUrl = '!{baseUrl}';
		window.initialState = !{initialState};

	script(type="text/javascript", src=bundleLocation)
	