doctype html
html
	head
		title Dive Log
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css")
	body
		div#app

	script(type="text/javascript", src=bundleLocation)
	