doctype html
html
	head
		title Reset Your Password
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
	body
		div.container
			h2 Reset Your Password
			p Greetings #{userName},
			p.
				You are receiving this e-mail because a request was made to reset your password at
				#[a(href="https://www.bottomtime.ca") Bottom Time].
				If you made the request then please proceed to the following URL to reset your password.

			p
				strong
					a(href=resetUrl) #{resetUrl}

			p.
				If you did not request that your password be reset then you should report this incident
				to the Bottom Time team at #[a(href="mailto:admin@bottomtime.ca") admin@bottomtime.ca].

			p Cheers, <br /> The Bottom Time Team

			p
				small
					em Copyright &copy; Chris Carleton, #{year}